hub:
#  baseUrl: hub
  extraConfig: |-
    c.Spawner.cmd = ['jupyter-labhub']
  db:
    type: sqlite-memory

proxy:
  secretToken: "1be7550452613d3f1e95c687598c8e4a95e64fbc9efcba374fed187fc254c53f"

ingress:
  enabled: true
  hosts:
    - {{ groups['master'][0] }}.{{ ansible_domain }}



singleuser:
  defaultUrl: "/lab"
  storage:
    dynamic:
      storageClass: nfs-dynamic

rbac:
  enabled: true